<!DOCTYPE html>
<html>
<head>
    <title>Candidate Resumes</title>
</head>
<body style="font-family: Arial, sans-serif; display:flex; flex-direction:row">
    <!-- <h1>Candidate Resumes</h1> -->
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Status</th>
            <th>Resume</th>
        </tr>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.phone }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.status }}</td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="selected_index" value="{{ loop.index }}">
                        <button type="submit">View Resume</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <!-- <iframe src="{{ link }}" width="100%" height="600px"></iframe> -->
    <embed src="{{link}}" height="600px" width="100%" type="application/pdf">
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
